@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.text-button{
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 1.25rem;
    border: 0;
     background-color: $primary-instock-indigo;
     color: $primary-white;

     @include tablet {
        width: 10.5rem;
        padding: 0.5rem 1rem;
     }
}