@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses-header {
  display: none;
  @include tablet {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: .6875rem 2rem;
    text-transform: uppercase;
    font-size: .75rem;
    color: $secondary-slate;
    background-color: $bg-light-grey;
  }
  &__name-container{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__name{
    padding-right: 1rem;
    transition: $transition;
    &::after{
        content: url("../../../src/assets/icons/sort-icon-default.svg");
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
    }
    &:hover, &:focus, &:active{
        &::after{
            content: url("../../../src/assets/icons/sort-icon-active.svg");
            width: 1rem;
            height: 1rem;
        }
    }
  }
}
