@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

// Resetting margins & setting font family
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient($bg-graphite 200px, $bg-light-grey 200px);
  min-height: 100vh;
  color: $primary-instock-black;
}

.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include tablet {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.layout {
  margin-left: 1rem;
  margin-right: 1rem;
  @include tablet {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include desktop {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.in-stock {
  font-size: 0.6875rem;
  color: $supporting-green;
  background-color: rgba($supporting-green, 0.07);
  padding: 4px 8px;
  border-radius: 20px;
  max-width: 3.8125rem;
  max-height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  @include tablet {
    min-width: 4.0625rem;
    min-height: 1.625rem;
  }
}

.out-of-stock {
  font-size: 0.6875rem;
  color: $supporting-red;
  background-color: rgba($supporting-red, 0.07);
  padding: 4px 8px;
  border-radius: 20px;
  max-width: 5.375rem;
  max-height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  @include tablet {
    min-width: 5.75rem;
    min-height: 1.625rem;
  }
}
