//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS
// Primary Colors
$primary-instock-black: #13182c;
$primary-instock-indigo: #2e66e5;
$primary-white: #ffffff;

// Secondary Colors
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

// Background Colors
$bg-graphite: #232940;
$bg-light-grey: #f7f8f9;

// Supporting Colors
$supporting-green: #158463;
$supporting-red: #c94515;

// box-shadow
$box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);

// transition
$transition: all ease-in-out 350ms;

// hover color for list
$item-hover-color: rgba(46,102,229,0.07);