@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventories {
  &__list {
    list-style: none;
    margin-top: 1rem;
    @include tablet {
      margin: 0;
    }
  }

  &__item {
    position: relative;
    padding: 1rem 2rem;
    transition: $transition;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:hover,
    &:focus {
      background-color: $item-hover-color;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $secondary-cloud;
    }
    &:first-of-type {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-bottom: 1px solid $secondary-cloud;
      }
      @include tablet {
        &::before {
          content: none;
        }
      }
    }
    &:last-of-type {
      &::after {
        content: none;
      }
    }
  }

  &__info-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.2rem;

    color: $primary-instock-black;
    @include tablet {
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    width: 35%;
    @include tablet {
      width: 23.5%;
    }
    @include desktop {
      width: 24%;
    }

    &-contact {
      order: 4;
    }
    &-address {
      order: 2;
      @include tablet {
        order: 0;
      }
    }
  }
  &__inventory {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
    text-decoration: none;
    color: $primary-instock-indigo;
    font-weight: 600;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  &__label {
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: 600;
    color: $secondary-slate;
    @include tablet {
      display: none;
    }
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  @include tablet {
    margin: 0;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.in-stock {
  color: $supporting-green;
  background-color: rgba($supporting-green, 0.07);
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 20px;
  min-width: 65px;
  min-height: 1.625rem;
  text-align: center;
  font-weight: 600;
}

.out-of-stock {
  color: $supporting-red;
  background-color: rgba($supporting-red, 0.07);
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 20px;
  min-width: 5.75rem;
  min-height: 1.625rem;
  text-align: center;
  font-weight: 600;
}
