@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.add-warehouse__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &_warehouse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    border-bottom: 1px solid $secondary-cloud;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &-title {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.75rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &-label {
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.25rem;
      padding-top: 0.5rem;
      padding-bottom: 0.2rem;
    }

    &-input {
      height: 2.25rem;
      border-radius: 20px;
      border: 1px solid $secondary-cloud;
      background-color: $primary-white;
      padding-left: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1.25rem;
      font-size: 13px;

      &::placeholder {
        font-size: 13px;
        line-height: 1.25rem;
        color: $secondary-slate;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }
  }

  &_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1.5rem;

    &-title {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.75rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &-label {
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.25rem;
      padding-top: 0.5rem;
      padding-bottom: 0.2rem;
    }

    &-input {
      height: 2.25rem;
      border-radius: 20px;
      border: 1px solid $secondary-cloud;
      background-color: $primary-white;
      padding-left: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1.25rem;
      font-size: 13px;

      &::placeholder {
        font-size: 13px;
        line-height: 1.25rem;
        color: $secondary-slate;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
    background-color: $bg-light-grey;
    width: 100%;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include tablet {
      justify-content: flex-end;
      padding: 0 2rem;
    }
  }
}
