@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-inventory-header {
  display: none;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 0.6875rem 2rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $secondary-slate;
    background-color: $bg-light-grey;
    margin-top: 1.5rem;
  }

  &__name-container {
    @include tablet {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .action-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
