@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-info {
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  border-top: 1px solid $secondary-cloud;
  font-size: 0.8125rem;
  font-weight: 400;
  padding-bottom: 0;

  @include tablet {
    display: flex;
  }
  &__address {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &-divider {
    width: 1px;
    background-color: $secondary-cloud;
  }

  &-left {
    flex: 1;
  }
  &-right {
    flex: 2;
  }

  &-left,
  &-right {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }

  &-right {
    .status-and-quantity {
      display: flex;
      flex-direction: row;
      gap: 10rem;

      .status-and-warehouse {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  &__title {
    font-weight: 500;
    color: $secondary-slate;
    margin-bottom: 0.4rem;
  }
}

.warehouse-item{
    &__container{
        padding-bottom: 0.25rem;
        background-color: $primary-white;
        border-radius: 3px;
        box-shadow: $box-shadow;
        
        @include tablet {
        padding-bottom: 0.5rem;
        }

        @include desktop {
        padding-bottom: 0.75rem;
        }
    }
}
