@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventories {
  &__container {
    padding-bottom: 0.25rem;
    background-color: $primary-white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    @include tablet {
      padding-bottom: 0.5rem;
    }
    @include desktop {
      padding-bottom: 0.75rem;
    }
  }
  &__heading-and_buttons {
    padding: 2rem 1.5rem 0rem 1.5rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 2rem 0rem 2rem;
    }
    @include desktop {
      padding: 2rem 2.5rem 0rem 2.5rem;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
    }
  }
}
